* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --header-height: 50px;
  --height-left: calc(100vh - var(--header-height))
;
}

.wrapper {
  width: 100%;
  overflow-x: hidden;
  background-color: gainsboro;
}

.wrapper .header {
  width: 100%;
  height: var(--header-height);
  background-color: #fff;
  border-top: 1px solid grey;
  box-shadow: 0 0 3px 3px grey;
}

.wrapper .main {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  width: 100%;
}

.wrapper .main .left {
  width: 100%;
  height: var(--height-left);
  border-right: 2px solid white;
}

.wrapper .main .feed {
  width: 100%;
  height: var(--height-left);
  overflow-y: scroll;
}

.wrapper .main .feed::-webkit-scrollbar {
  display: none;
}

.wrapper .main .feed .block {
  width: 70%;
  min-height: 100px;
  margin-left: 15%;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: #fff;
  margin-top: 10px;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0 0 3px 3px grey;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper .main .feed .block:first-of-type {
  margin-top: 20px;
}

.wrapper .main .feed .block:last-of-type {
  margin-bottom: 20px;
}

.wrapper .main .feed .block .block__head {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  padding-bottom: 5px;
}

.wrapper .main .feed .block .block__head .block__head__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.wrapper .main .feed .block .block__head .user {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
}

.wrapper .main .feed .block .block__head .user .name {
  font-size: 20px;
  font-weight: 500;
}

.wrapper .main .feed .block .block__head .more {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.wrapper .main .feed .block .block__head .more .more__block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.wrapper .main .feed .block .block__head .more .more__block:hover {
  background-color: rgba(128, 128, 128, 0.3);
  cursor: pointer;
}

.wrapper .main .feed .block .block__main {
  padding: 5px 0 10px;
  border-bottom: 1px solid grey;
}

.wrapper .main .feed .block .block__comment {
  width: 100%;
}

.wrapper .main .feed .block .block__comment .reactions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid grey;
}

.wrapper .main .feed .block .block__comment .reactions .reactions__block {
  margin: 5px;
  text-align: center;
  padding: 6px 0;
  border-radius: 5px;
}

.wrapper .main .feed .block .block__comment .reactions .reactions__block:hover {
  background-color: rgba(128, 128, 128, 0.3);
  cursor: pointer;
}

.wrapper .main .feed .block .block__comment .reactions .reactions__block i {
  margin-right: 10px;
}

.wrapper .main .feed .block .block__comment .comment {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 10fr 3fr;
  padding-top: 10px;
}

.wrapper .main .feed .block .block__comment .comment .comment__img {
  max-width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.wrapper .main .feed .block .block__comment .comment .comment__input {
  padding: 6px 0 6px 5px;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.wrapper .main .feed .block .block__comment .comment .badges {
  display: flex;
  justify-content: space-between;
}

.wrapper .main .feed .block .block__comment .comment .badges .badges__block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 18px;
}

.wrapper .main .feed .block .block__comment .comment .badges .badges__block:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.3);
}

.wrapper .main .right {
  width: 100%;
  height: var(--height-left);
  border-left: 2px solid white;
}
